* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-top: 140px;

  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;

  background-color: #000;
  background-image: radial-gradient(2px 2px at 20px 30px, white, transparent), radial-gradient(2px 2px at 80px 120px, white, transparent), radial-gradient(1.5px 1.5px at 150px 60px, white, transparent), radial-gradient(2px 2px at 250px 180px, white, transparent), radial-gradient(1.5px 1.5px at 320px 90px, white, transparent), radial-gradient(2px 2px at 420px 40px, white, transparent), radial-gradient(1.5px 1.5px at 500px 150px, white, transparent), radial-gradient(2px 2px at 620px 80px, white, transparent);
  background-size: 700px 250px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 70px;
}

.container {
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 450px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5px;
}

.logo {
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
}

audio {
  width: 100%;
}

.player {
  display: flex;
  justify-content: center;
}

#playButton {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 35px;
  border: none;
  border-radius: 60px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

#playButton:hover {
  transform: scale(1.05);
}

.play-icon {
  font-size: 2.5rem;
}

.waves {
  display: flex;
  align-items: end;
  gap: 5px;
  height: 40px;
}

.waves span {
  width: 6px;
  background: black;
  border-radius: 20px;
  animation: wave 1s infinite ease-in-out;
}

.waves span:nth-child(1) {
  height: 12px;
  animation-delay: 0s;
}
.waves span:nth-child(2) {
  height: 25px;
  animation-delay: 0.15s;
}
.waves span:nth-child(3) {
  height: 38px;
  animation-delay: 0.3s;
}
.waves span:nth-child(4) {
  height: 25px;
  animation-delay: 0.45s;
}
.waves span:nth-child(5) {
  height: 12px;
  animation-delay: 0.6s;
}

#scanButton {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 5px;

  padding: 18px 24px;

  background: linear-gradient(135deg, #ffffff, #e8e8e8);
  color: #111;

  border: none;
  border-radius: 18px;

  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease;
}

#scanButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 35px rgba(255, 255, 255, 0.15);
}

#scanButton:active {
  transform: scale(0.97);
}

.scanner {
  width: 100%;
  max-width: 350px;
}

#reader {
  display: none;
  width: 350px;
  height: auto;
  margin: 15px auto;
  border-radius: 20px;
  overflow: hidden;
}

#reader img,
#reader video {
  border-radius: 20px;
}

#reader {
  background: transparent;
}

@keyframes wave {
  0%,
  100% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.4);
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 180px;
  }
}
